body {
	background-color: #1abc9c;
	color: #fff;
}

h6 {
	color: #000;
}
h11 {
	color: #777;
}
h2 {
	color: #777;
}

p {
	color: #777;
}

.cartaEnMesa {
	border: 1px dashed black;
	height: 103px;
	width: 74px;
	margin-right: 30px;
}

.cartaJugador1_Baza1{
	position: absolute;
	width: 74px;
	height: 103px;
	left: 25px;
	top: 80 px;
}
.cartaJugador2_Baza1{
	position: absolute;
	width: 74px;
	height: 103px;
	left: 400 px;
	top: 40 px;
}
.cartaJugador3_Baza1{
	position: absolute;	
	width: 74px;
	height: 103px;
	position: fixed;
	left: 800 px;
	top: 100 px;
	
}
.cartaJugador4_Baza1{
	position: absolute;
	width: 74px;
	height: 103px;
	position: fixed;
	left: 1200 px;
	top: 40 px;
	
	
}


.spotA1 { position: absolute; left: 0.60em; top: 0.5em; }
.spotA2 { position: absolute; left: 0.60em; top: 1.5em; }
.spotA3 { position: absolute; left: 0.60em; top: 2.0em; }
.spotA4 { position: absolute; left: 0.60em; top: 2.5em; }
.spotA5 { position: absolute; left: 0.60em; top: 3.5em; }
 


.carta {
	height: 139px;
	width: 100px;
	margin-right: 40px;
}

.contexto {
	line-height: 10px;
}

.jugadorEnMesa {
	width: 74px;
	margin-right: 30px;
}

a h6 {
	margin-top: 20px;
	color: white;
}

.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}










