body {
	background-color: #1abc9c;
	color: #fff;
}

h6 {
	color: #000;
}
h11 {
	color: #777;
}
h2 {
	color: #777;
}

p {
	color: #777;
}

.cartaEnMesa {
	border: 1px dashed black;
	height: 103px;
	width: 74px;
	margin-right: 30px;
}





.carta {
	height: 139px;
	width: 100px;
	margin-right: 40px;
}

.contexto {
	line-height: 10px;
}

.jugadorEnMesa {
	width: 74px;
	margin-right: 30px;
}

a h6 {
	margin-top: 20px;
	color: white;
}

.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

.parpadeaJug {
  
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  width: 74px;
  margin-right: 30px;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}
@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}










